<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{% for i in response  %}
        <h1>POST :{{ i.title }}</h1>
        {% for j in response2 %}
              {% if i.id == j.postId %}
                     <h4>{{j.body}} by {{j.id}}</h4>
              {% endif %}
        {% endfor %}
        {% endfor %}
    </h1>
</body>
</html>